*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #3d3c3c;
}

h1, h2, h3, h4, h5, h6 {
    color: #3d3c3c;
}

p, label {
    color: hsl(0, 0%, 100%);
}

input {
    border: none;
    border-bottom: 1px solid;
    padding: 10px 0;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"], textarea {
    width: 400px;
}

textarea {
     padding: 10px 5px;
}

.cabecalho {
    height: 160px;
    padding: 20px;
    background-color: darkred;
}

.cabecalho h3{
    color: rgb(255, 255, 255);
    margin-top: 0;
}

.form-container {
    background-color: hsl(0, 0%, 0%);
width: 60%;
margin: 0 auto;
position: relative;
top: -46px;
}

.form-header {
    border-bottom: 1px solid hsl(0, 0%, 0%);
    height: 45px;
}

.form-header p {
    color: darkred;
}